#homepage_search form {
    background: #f5f5f5 !important;
    border-radius: 5px
}
#homepage_search input[type="search"] {
    background: none;
    border: 0px;
    padding: 10px 20px;
}
#homepage_search .aws-form-btn {
    background: none;
    border: 0px;
    width: auto;
    padding: 10px;
}
#homepage_search .aws-search-btn{
    transition: 0.5s
}
#homepage_search .aws-search-btn svg{
    color: #000;
}
#homepage_search .aws-search-btn:hover svg{
    color: #DB4444
}